[submodule "lib/caffe-action"]
	path = lib/caffe-action
	url = https://github.com/yjxiong/caffe
        branch = action_recog
[submodule "lib/dense_flow"]
	path = lib/dense_flow
	url = https://github.com/yjxiong/dense_flow
